.details {
  // background-color: #BCBDC0;
  background-color: #B1B7D1;
  border-radius: 5px;
  color: #3C474B;
  padding: 1em;
  margin: 1em 3em;
}

.title {
  font-size: 22pt;
  font-weight: bold;
  margin: 0;
}

.closeButton {
  float: right;
}
